@import '@/assets/styles/scaffolding.css';

/* Переоределив стили таблицы */
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
    border-bottom: var(--el-table-border);
    background-color: #313131;
  }
  

  /* Кнопки удаления и редактирования */
  .control-button {
    font-size: 24px;
    padding: 0;
    background-color: transparent;
  }
  
  .control-button:focus {
    outline: none;
  }