@import '@/assets/styles/variables.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--light-mode-text-color);
  background-color: var(--light-mode-bg-color);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3770ec;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #6063a8;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--light-mode-bg-color) !important;
  color: var(--light-mode-text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* .card {
  padding: 2em;
} */

#app {    
  height: 100vh;
  width: 100vw; 
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-mode-text-color);
    background-color: var(--light-mode-bg-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}